Following models were implemented which can be found in repository:
1. VGG16
2. Inception Res Net V2
3. Xception

Different algorithms were tested at multiple configurations and results were averaged using this script to submit final predictions

In [1]:
import pandas as pd

In [2]:
vgg16_epoch5=pd.read_csv("submission_vgg16_epoch5.csv",index_col=[0])
vgg16_epoch10=pd.read_csv("submission_vgg16_epoch10.csv",index_col=[0])
inception_epoch10=pd.read_csv("submission_inception_epoch10.csv",index_col=[0])
xception_epoch5=pd.read_csv("submission_xception_epoch5.csv",index_col=[0])
xception_epoch10=pd.read_csv("submission_xception_epoch10_adam.csv",index_col=[0])
xception_epoch10_sgd=pd.read_csv("submission_xception_epoch10_sgd.csv",index_col=[0])
xception_epoch20=pd.read_csv("submission_xception_epoch20.csv",index_col=[0])

In [3]:
vgg16_epoch5.head()

      label
id
2820    1.0
4694    0.0
9935    1.0
3663    0.0
5068    1.0

In [4]:
final_submission=pd.concat([vgg16_epoch5,vgg16_epoch10,inception_epoch10,
                           xception_epoch5,xception_epoch10,xception_epoch10_sgd,
                           xception_epoch20],axis=1,join='inner')

In [5]:
final_submission['mean'] = final_submission.mean(axis=1)
final_submission.head()

,label,label,label,label,label,label,label,mean
id,,,,,,,,
2820,1.0,0.999852,0.995800,0.999761,0.999240,0.995275,0.997615,0.998220
4694,0.0,0.000106,0.000000,0.000000,0.000000,0.000000,0.000000,0.000015
9935,1.0,0.622674,0.999758,0.999727,0.998616,0.999609,0.997352,0.945391
3663,0.0,0.191133,0.000000,0.000000,0.000000,0.000000,0.000000,0.027305
5068,1.0,0.939712,0.993059,0.999816,0.991445,0.968179,0.996851,0.984152

In [6]:
final_submission=final_submission['mean']
final_submission=final_submission.reset_index()
final_submission.columns=['id','label']
final_submission.head()

     id     label
0  2820  0.998220
1  4694  0.000015
2  9935  0.945391
3  3663  0.027305
4  5068  0.984152

In [7]:
final_submission.to_csv("final_submission.csv",index=False)

<img src ="C:\Users\Piyush Gupta\Google Drive (gupta588@umn.edu)\MSBA 6420 - Predictive Analytics\HW4\Stacking\results.png" width="900" align ="left">